*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition: all .2s linear;
}
.nav{
  position: fixed;
  top:0; left:0; right:0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #212121;
  padding:16px 16px;
}

.logo{
    align-items: center;
    padding:8px 0px 0px 16px;
}
.logo span{
   font-size: 28px;
   font-weight: bold;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color:#ffffff;
}
.logo b{
    color:#ff00ff;
}
.logo .planeicon{
    color:#ff00ff;
    font-size: 20px;
     padding:0px 14px 0px 0px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding:8px 16px 0px 0px ;
}
.menu ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    align-items: center;
    padding:4px 16px 0px 16px;
}
.menu ul li a{
    color:#ffffff;
    text-decoration: none;
}
.menu ul li a:hover{
    color:#ff00ff;
}
.image{
    position: relative;
    width:100%;
}
.image img{
    width:100%;
    height:460px;
}
.home{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
    min-height: 100vh;
}
.home .content{
    text-align: center;
}
.home .content h3{
    font-size: 3.5rem;
    color:#ffffff;
    text-transform: uppercase;
    text-shadow: 0.3rem .5rem rgba(0,0,0,1);
}
.home .content p{
    font-size: 16px;
    color:#fff;
    padding:.5rem;
}
.home .Dicover {
    margin:24px 0px 0px 0px;
}
.home .Dicover a{
    border:2px solid;
    background-color: #f1730b;
    font-size: 20px;
    text-decoration: none;
    color:#fff;
    padding:6px 8px;
    width: fit-content; 
    border-radius: 16px;
}
.home .Dicover a:hover{
    background-color: #ff00ff;
}
.home .video-container video{
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    object-fit: cover;
}
.home .controls{
    padding:0.2rem;
    border-radius:5rem;
    background: rgba(0,0,0,1);
    position: relative;
    top:6rem;
    align-items: center;

}
.home .controls .vid-btn{
    height: 2rem;
    width:2rem;
    display: inline-block;
    border-radius: 50%;
    background: #FFF;
    cursor: pointer;
    margin:0.5rem;
}
.home .controls .vid-btn.active{
   background:#f1730b;
}
.about{
    padding:36px 0px 0px 16px;
}
.about h2{
    padding:24px 0px 0px 24px;
    color:#f1730b;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
}
.card-about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:32px;
}
.card-about .text{
    display: flex;
    flex-direction: column;
    padding: 48px 0px 0px 24px; 
    font-size: 19px; 
    font-family: 'Times New Roman', Times, serif;
}
.card-about .text a{
    justify-content: center;
    color:#ffffff;
    text-decoration: none;
    border:2px sloid;
    background-color: #f1730b;
    border-radius: 24px;
    padding:4px 8px;
    font-size: 16px;
    width:fit-content;
}
.card-about .text div{
    padding:16px 0px 0px 0px ;
}
.card-about .image{
    width:100%;
    padding:36px 0px 0px 10px;
}
.card-about .image img{
    width:96%;
    height:60%;
    border-radius:24px;
}
.item {
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:32px;
   padding:40px 0px 0px 30px;
}
.gallery div h2{
    padding:0px 0px 24px 36px;
    color:#f1730b;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
}
.card{
     position: relative;
     display: flex;
     flex-direction: column;
     
}
.card .card-image{
    position: relative;
    width:100%;  
}
.card .card-image img{
    width: 90% !important;;
    height:240px;
    border-radius: 16px;
}
.item-review{
   display: grid;
   grid-template-columns: repeat(3,1fr) ;
   column-gap: 32px;
   padding:24px 24px 24px 16px;
}
.card-review{
    display: flex;
    flex-direction: column;
    background-color: #b2b2b2;
    border:5px solid #fff;
    border-radius: 32px; 
    padding:0px 4px;  
}
.review h2{
    padding:24px 0px 0px 28px;
    color:#f1730b;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.item-review .image-review{
    width:100%; 
    padding:8px 0px 0px 10px;
}
.item-review .image-review img{
    width:80px;
    height:80px;
    border-radius: 48px;
}
.item-review .content-review {
     align-items: center;
}
.content-review{
    padding:8px 0px 0px 16px;
}
.content-review .name-review{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color:#ff00ff;
     font-weight: bold;
}
.content-review .text-review{
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
    font-style: italic;
    padding:8px 0px 0px 0px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212121;
    align-items: flex-start;
}
.footer-logo{
    padding:48px 0px 0px 48px;
}
.footer-logo .logo{
    padding:0px 24px 8px 0px;
}
.footer-logo .logo span{
    font-size: 28px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#ffffff;
}
.footer-logo .logo b{
    color:#ff00ff;
}
.footer-logo .logo .planeicon{
    font-size: 20px;
}
.footer-logo .info{
    padding:8px 0px 0px 0px;
}
.footer-logo .info a{
    color:#ff00ff;
}
.footer-logo .info h3{
    color:#fff;
    padding:8px 0px 0px 0px ;
}
.contact-info{
    padding:48px 0px 0px 48px;
}
.contact-info h2{
    color:#FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact-info div ul{
    list-style-type: none;
    padding:8px 0px 0px 0px ;
}
.contact-info div ul li{
    padding:0px 0px 8px 20px;
}
.contact-info div ul li .placeicon{
    font-size: 20px;
    padding:0px 10px 0px 0px;
    color:#ff00ff;
}
.contact-info div ul li span{
    color:#b2b2b2;
}
.quik-links{
    padding:48px 0px 0px 48px;
}
.quik-links h2{
    color:#FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.quik-links div ul{
    list-style-type: none;
    padding:8px 0px 0px 0px ;
}
.quik-links ul li{
    padding:0px 0px 4px 24px;
}
.quik-links ul li a{
    text-decoration: none;
    color:#b2b2b2;
}
.contact-us {
    padding:48px 48px 24px 48px;
}
.contact-us h2{
    color:#FFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0px 0px 4px 0px ;
}
.contact-us div form table tr td {
      padding:4px  0px 0px 0px;
}
.contact-us div form table tr td input::placeholder{
   color:#b2b2b2;

} 
.contact-us div form table tr td textarea::placeholder{
    color:#b2b2b2;
}
.contact-us div form table tr td input{
    width:100%;
    height:24px;
    align-items: center;
}
.contact-us div form table tr td textarea{
    width:100%;
}
.contact-us div form table tr td button{
    background-color: #ff00ff;
    padding:4px 8px;
    border-radius: 8px;
    width: 40%;
    text-align: left;
}
.our-tour{
    padding:36px 0px 0px 16px;
}
.our-tour h2{
    padding:0px 0px 24px 36px;
    color:#f1730b;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.tour-item{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}
.tour-item .card{
    display: flex;
    flex-direction: column;
    margin:34px 34px;
}
.tour-item .card .card-image{
     width:360px;
     height:210px;
     position: relative;
}
.tour-item .card .card-image img{
    width:100%;
    height:100%;
}
.tour-item .card .card-content{
    position:absolute;
    top:16px;
    left:36px;
}
.tour-item .card .card-content .fa-location-dot{
    font-size: 22px;
    padding:72px 0;
    color:#f1730b;
}
.tour-item .card .card-content h1{
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 300;
       letter-spacing: 2px;
       text-transform: uppercase;
       color:#ffffff;
}
.tour-item .card .card-text {
   padding:8px 0;
}
.tour-item .card .card-text p{
    padding:8px 0px 8px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: underline;
    line-height: 20px;
}
.tour-item .card .card-text .card-price{
     padding:0px 0px 8px 8px;
}
.tour-item .card .card-text .card-price span{
    padding:0px 0px 0px 10px;
    text-decoration: line-through;
    color:#b2b2b2;
}
.tour-item .card .card-text a button{
   width:84%;
   height:28%;
   margin:0 8px;
   background-color: #f1730b;
   border:2px solid #fff;
   border-radius:8px;
   font-size:14px;
   color:#fff;
   font-weight:300;
}
.service h2{
    padding:0px 0px 24px 56px;
    color:#f1730b;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.item-service{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:24px;
    margin:0px 0px 48px 0px;
}
.card-service{
    display: flex;
    flex-direction: column;
    padding:16px 56px;
}
.card-service .card-content .icon{
    font-size: 28px;
    color:#f1730b;
}
.card-service .card-content span{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding:0px 10px;
}
.card-service .card-text{
     line-height: 20px;
     text-transform: capitalize;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
     padding:8px 0;
} 

.book{
    padding:48px 0px 80px 24px;
}
.book h2{
    padding:24px 0px 0px 56px;
    color:#f1730b;
    text-decoration: underline;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.card-book{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:32px;
}
.card-book .text{
    padding:32px 0px 0px 24px;
}
.card-book .text form{
    padding:0px 0px 0px 24px;
}
.card-book .text form table tr td{
   padding:8px 0;
}
.card-book .text form table tr td input{
    padding:10px 64px;
    
}
.card-book .text form table tr td .date{
    padding:10px 92px;
}

.card-book .image{
    width:100%;
    padding:36px 24px 0px 0px;
}
.card-book .image img{
    width:96%;
    height:96%;
    border-radius:24px;
}
.card-book .text form table tr td button{
        padding:8px 24px;
        background-color: #f1730b;
        border:2px solid #ffffff;
        border-radius:8px;
        font-family:Arial, Helvetica, sans-serif;
      
}